.made {
    color: rgb(255, 72, 0);
}
.in {
    color: rgb(0, 178, 148);
}

h1 {
    font-size:750%;
    text-align: center;
    padding: 7%;
}
.barcode {
    width: 50%;
    float: right;
}
.categoriesdrop {
}
.categorydrop {
    width: 50%;
}
.address {
    padding-bottom: 0.7%
}
h3 {
    padding-bottom: 1.5%;
}
.closeit:hover {
  text-decoration: none;
  cursor: pointer;
}
.name {
  padding-top: 50px;
}
#name {
}
#miles {
}
#country {
}
#manu {
}
#address {
}