.made {
    color: rgb(255, 72, 0);
}
.in {
    color: rgb(0, 178, 148);
}

h1 {
    font-size:100px;
    text-align: center;
    padding: 10%;
}
.barcode {
}
.categoriesdrop {
}
.categorydrop {
    width: 50%;
}
